* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Infra';
    src: url(fonts/InfraRegular.otf) format('opentype');
}

@font-face {
    font-family: 'Backstone';
    src: url(fonts/Backstone.otf) format('opentype');
}

body {
    font-family: 'Infra', sans-serif;
    background-color: #fff;
    position: relative;
}

.straight-line-icon {
    position: absolute;
    width: 45px;
    top: 70px;
    left: 0;
    mix-blend-mode: luminosity;
}

.semicircle-icon {
    position: absolute;
    top: 70px;
    right: 80px;
    mix-blend-mode: luminosity;
}

.header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 24px 48px;
    box-shadow: 0px 0px 24px 12px rgba(0, 0, 0, 0.06);
}

.logo-con {
    display: flex;
    justify-content: flex-start;
}

.logo {
    height: 33px;
    width: 100px;
}

.main-nav {
    justify-self: center;
    align-self: center;
}

.main-nav-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 45px;
}

.main-nav-link:link,
.main-nav-link:visited {
    text-decoration: none;
    font-size: 12px;
    color: #b2b2b2;
    letter-spacing: 0.2px;
}

.btn-mobile-nav {
    border: none;
    background-color: #0076f6;
    color: white;
    padding: 6.4px 12.8px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    justify-self: center;
    align-self: center;
}

.container {
    max-width: 1200px;
    margin: 64px auto;
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.hero-text {
    align-self: center;
    justify-self: start;
}

h1 {
    font-family: 'Backstone';
    font-weight: 400;
    font-size: 80px;
    line-height: 72px;
    letter-spacing: 2px;
    color: #0076f6;
    margin-bottom: 22px;
}

.hero-paragraph {
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.1px;
    /* width: 350px; */
    color: #8a8a8a;
    margin-bottom: 48px;
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fff;
    position: relative;
    z-index: -1;
}

.hero-image::after,
.hero-image::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.hero-image::after {
    width: 60%;
    padding-bottom: 60%;
    border-radius: 50%;
    background-color: #eff7fa;
    z-index: -3;
}

.hero-image::before {
    width: 45%;
    padding-bottom: 45%;
    background-color: #fff;
    z-index: -2;
}

.ellipse-icon {
    position: absolute;
    top: 0;
    left: 120px;
    mix-blend-mode: luminosity;
}

.cross-icon {
    position: absolute;
    top: 250px;
    left: 35px;
}

.cross-icon--01 {
    position: absolute;
    bottom: -80px;
    right: 45px;
}

.download {
    font-size: 28px;

    margin-bottom: 15px;
    color: #333333;
}

.download-button {
    display: flex;
    gap: 5px;
}

.google-play,
a.google-play,
.app-store {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    font-size: 20px;
    letter-spacing: 0.2px;
    border: none;
    color: #fff;
    background-color: #06193f;
    padding: 12px 24px;
    border-radius: 6px;
    cursor: pointer;
}

.google-play img {
    width: 22px;
    height: 22px;
}

.app-logo {
    width: 23px;
    height: 23px;
}

.coast-app-interface {
    width: 40%;
    z-index: 999;
}

.burger {
    display: none;
}

.sidenav {
    display: none;
}

@media screen and (max-width: 500px) {
    h1 {
        text-align: center;
    }

    .burger {
        display: block;
    }

    .section-hero {
        display: block;
        width: 100%;
        max-width: 100%;
    }

    .container {
        margin: 16px auto;
        max-width: 100%;
        width: 100%;
        grid-template-columns: auto;
    }

    .hero-text {
        align-self: center;
        justify-self: center;
        text-align: start;
    }

    .hero-paragraph {
        font-size: 18px;
        margin-bottom: 16px;
    }

    .google-play {
        text-align: center;
    }

    .app-store {
        text-align: center;
    }

    .download-button {
        margin: 8px;
        margin-bottom: 24px;
        justify-content: center;
    }

    .hero-image {
        width: 100%;
    }

    .coast-app-interface {
        width: 80%;
        z-index: 999;
    }

    .download {
        text-align: center;
    }

    .g-play,
    .a-store {
        font-size: 12px;
    }

    ion-icon {
        font-size: 64px;
    }

    .main-nav-list {
        list-style: none;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 45px;
    }

    .header {
        display: flex;
        grid-template-columns: 1fr 3fr 1fr;
        justify-content: center;
        align-items: center;
        justify-items: center;
        padding-left: 8px;
        padding-right: 8px;
    }

    .btn-mobile-nav {
        font-size: 10px;
        margin-left: auto;
    }

    .burger {
        font-size: 24px;
        margin-right: 8px;
        transition: 0.3s ease-in-out;
        color: #0076f6;
    }

    .burger:hover {
        box-shadow: -3px 3px 19px -4px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: -3px 3px 19px -4px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -3px 3px 19px -4px rgba(0, 0, 0, 0.75);
        transition: 0.3s ease-in-out;
        cursor: pointer;
    }

    .main-nav {
        display: none;
    }

    .sidenav {
        display: block;
        height: 100%;
        /* 100% Full-height */
        width: 0;
        /* 0 width - change this with JavaScript */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Stay on top */
        top: 0;
        /* Stay at the top */
        left: 0;
        background-color: #0076f6;
        /* Black*/
        overflow-x: hidden;
        /* Disable horizontal scroll */
        padding-top: 60px;
        /* Place content 60px from the top */
        transition: 0.5s;
        /* 0.5 second transition effect to slide in the sidenav */
    }

    /* The navigation menu links */
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        display: block;
        transition: 0.3s;
    }

    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover {
        color: rgb(231, 229, 229);
    }

    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}